{% extends "layout.njk" %}


    {% block head %}
    
    
        <title>Conteúdos - Rocketseat</title>
        <link rel="icon" href="https://raw.githubusercontent.com/rocketseat-education/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    {% endblock%}
    

        
    {% block content %}

        <section id="Post-area">
            <h2>Top 3 posts</h2>

                <div id="cards-area">
                    {% for post in posts %}
                    
                        <div class="card" id="{{post.id}}">
                            <div class="img-content">
                                <img src="{{post.img_Url}}" alt="imagem do post {{post.title}}">
                            </div>
                            
                                <div class="title-post">
                                    <p>{{post.title}}</p>
                                </div>

                                <div class="info-post">
                                    <p class="autor">Por: {{post.author}}</p>
                                    <p class="reading-time">{{post.reading_Time}} </p>
                                </div>
                        </div>

                    {% endfor  %}
                    
                </div>
            
        </section>



        <div class="modal-overlay" >
            <div class="modal">
                <div class="close-model">
                    <i class="material-icons">close</i>
                </div>
    
                <div class="fullscreen">
                    <i class="material-icons">fullscreen</i>
                </div>

                <iframe src="https://blog.rocketseat.com.br/" frameborder="0"></iframe>
            </div>
        </div>

    {% endblock %}
